@import url('https://binary-ui.netlify.app/components/CDN.css');
@import url(../CSS/main.css);

.login-form-container{
    width: 100%;
    min-height: 100vh;
}

.login-form-container .form{
    background-color: var(--background-color);
    margin: 0 0.5em;
    border: none;
}