@import url(../CSS/main.css);

.login-form-container {
  width: 100%;
  min-height: 100vh;
}

.login-form-container .form {
  background-color: var(--background-color);
  margin: 0 0.5em;
  border: none;
  border-radius: 0;
}
.btn-submit {
  border-radius: 0;
}

.input {
  border-radius: 0;
}
