@import url("https://binary-ui.netlify.app/components/CDN.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
@import url(../CSS/scrollbar.css);


@import url(../CSS/products.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 67%;
  scroll-behavior: smooth;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 60%;
  }
}

::placeholder {
  font-size: medium;
}

:root {
  --heading-color: #201e28;
  --border-color: #33333333;
  --body-background: #f7f7f7;
  --common-box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
  --primary-color: #201e28;
  --primary-hover: #201e28e5;
  --input-background: #c2c4c573;
  --bg-footer: #505050;
  --background-color: #fff;
  --heart-icon-hover: #c50505;
  --wishlist-color: #7a7a7a;
}

.section-heading{
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.large-heading {
  font-size: 1.7rem;
  font-weight: 600;
}
.hero-title {
  font-size: 3rem;
  line-height: 3.1rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.paragraph {
  font-size: 1.8rem;
}

.font-bold {
  font-weight: 600;
}

.thin {
  font-weight: 300;
}

.discount-price {
  font-size: 1.5rem;
  text-decoration: line-through;
  color:  #3333336e;
}

.cart-icon{
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.product-price{
  color: #474747;
}

.wishlist-badge{
  font-size: 2.5rem;
  position: absolute;
  top: 0.5rem;
  right: 10px;
  cursor: pointer;
  color: var(--wishlist-color);
}