@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.navigation {
  padding: 0.5em 2em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 0;
  z-index: 999;
}
.nav-center {
  flex-basis: 25%;
}
.nav-center .input-search {
  width: 100%;
  padding: 1.1em 0.6em;
  border-radius: 0;
  border: none;
  background-color: var(--input-background);
}
.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 10%;
}

.nav-logo {
  color: var(--primary-color);
  font-size: 3rem;
  font-family: "Caveat", cursive;
}

.login-button {
  transition: 0.1s all;
  border-radius: 0;
  padding: 0.7em 2em;
}

.icon-badge i {
  font-size: 2.3rem;
  cursor: pointer;
}

.badge-number {
  background-color: red;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: small;
  border-radius: 50%;
}

