/*----Font for logo----*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

@import url('./CSS/Commoncss/Nav.css');
@import url('./CSS/Commoncss/Footer.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

body {
  background-color: #f7f7f7;
}

/*==========topbar container==========*/

.container {
  margin: 7em 5% 1em 5%;
}
.topbar-section {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  /* overflow-x: scroll; */
  grid-template-columns: repeat(5, 1fr);
}
.topbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid var(--border-color);
  background: url("./assets/1.jpg");
  background-position: center;
  background-size: cover;
  height: 10rem;
}

.middle-text {
  text-align: center;
  font-size: 1.5rem;
  background-color: var(--text-color);
  color: var(--primary-color);
  width: 100%;
}

.hero-container {
  background-color: rgba(122, 122, 122, 0.212);
  min-height: 500px;
  margin: 2em 0;
  background: url("./assets/Untitled\ design.png");
  background-position:  center ;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-container {
  /* min-height: 200px; */
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 1000px) {
  .product-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.product-box {
    background-color: rgba(0, 0, 0, 0.212);
    padding: 3em;
  }

.horizontal-cart-card{
    box-shadow: none;
     border-radius: 0;
     height: auto;
}

@media screen and (max-width: 500px) {
    .horizontal-cart-card{
        flex-direction: column;
    
    }
}
.horizontal-cart-card .card-content{
    justify-content: flex-start;
}

.horizontal-cart-card img {
    max-width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 0 !important;
}

@media screen and (max-width: 500px) {
    .horizontal-cart-card img{
        max-width: 100%;
        height: 200px;
    }
}
.card-price{
    margin: 1em 0 0 0;
}
.horizontal-cart-card .btn{
    border-radius: 0;
    padding: 1em;
}

.btn-move-cart{
    color: var(--text-color);
    background-color: var(--primary-color);
}
.btn-wishlist{
    border: 1px solid var(--primary-color);
    width: 100%;
}
.btn-wishlist:hover{
    color: var(--text-color);
    background-color: var(--primary-color);
}
.card-footer{
    padding: 1em 0;
    margin-top: 2em;
}

