/*----Font for logo----*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

@import url("./CSS/Commoncss/Nav.css");
@import url("./CSS/Commoncss/Footer.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

/*==========topbar container==========*/

.container {
  margin: 2em 5% 1em 5%;
}
.topbar-section {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  /* overflow-x: scroll; */
  grid-template-columns: repeat(5, 1fr);
}
.topbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 0.5px solid var(--border-color); */
  background: url("./assets/1.jpg");
  background-position: center;
  background-size: cover;
  height: 10rem;
}

.middle-text {
  text-align: center;
  font-size: 1.5rem;
  background-color: var(--text-color);
  color: var(--primary-color);
  width: 100%;
}

.hero-section {
  margin-top: 6em;
}

.hero-container {
  background-color: rgba(122, 122, 122, 0.212);
  margin: 2em 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.hero-img-wrapper {
  height: 500px;
  position: relative;
}
.hero-content-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(156, 155, 155, 0.5);
}
.hero-content {
  position: absolute;
  max-width: 500px;
  top: 14rem;
  left: 9rem;
  margin: 0 20px;
}

@media screen and (max-width: 700px) {
  
  .hero-content {
    top: 10rem;
    left: 0rem;
  }
}

.hero-img {
  border-radius: 0;
  height: 100%;
  object-fit: cover;
}

.btn-shop {
  background: var(--primary-color);
  color: var(--text-color);
  margin-top: 2.5em;
  padding: 1.2em 2.5em;
  border-radius: 0;
  font-weight: 600;
}
.btn-shop:hover {
  background-color: var(--primary-hover);
}
.product-container {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) )
}

@media screen and (max-width: 500px) {
  .product-container{
     place-items: center;
  }
}

.product-box {
  padding: 1em;
}

.product-img{
  min-height: 15rem;
}

.vertical-cart-card .product-img img{
  object-fit: cover;
  
}

.vertical-cart-card {
  background-color: #fff;
  border: 0.5px solid var(--border-color);
  width: 100%;
  box-shadow: none;
  border-radius: 0;
}

.vertical-cart-card .card-content {
  padding: 1em;
   text-align: center;
}

.vertical-cart-card .btn {
  border-radius: 0;
  margin: 0 0 .5rem 0;
}

.btn-move-cart {
  color: var(--text-color);
  background-color: var(--primary-color);
}
.btn-move-cart:hover {
  background-color: var(--primary-hover);
}
.btn-wishlist {
  background: transparent;
  border: 1px solid var(--primary-color);
  width: 100%;
}
.btn-wishlist:hover {
  color: var(--text-color);
  background-color: var(--primary-color);
}
.card-footer {
  padding: 1em 0;
  margin-top: 2em;
}

.advertise-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 2em 0;
}
.advertise {
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
}

@media screen and (max-width: 500px) {
  .advertise-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.advertise img {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.advertise-content {
  color: var(--text-color);
  text-align: center;
  flex-direction: column;
  padding: 1.5em;
  position: absolute;
  bottom: 0;
  transition: 0.3s all;
  width: 100%;
  background-color: rgba(70, 70, 70, 0.801);
}

.btn-buy {
  margin-top: 1em;
  border-radius: 0;
  transition: 0.2s all;
  padding: 1em 1.5em;
  background-color: rgba(255, 255, 255, 0.377);
}
.btn-buy:hover {
  color: var(--text-color);
  background-color: var(--primary-color);
}
